* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ======================================================== */

.ass1 {
  background-color: #eee;
  color: #ff5722;
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  margin: 50px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  position: relative;
}

.ass1::before {
  content: "";
  background-color: #03a9f4;
  position: absolute;
  right: 5px;
  width: 100px;
  height: 100px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ass1::after {
  content: "";
  background-color: #ff5722;
  position: absolute;
  right: -5px;
  width: 100px;
  height: 100px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ======================================================== */

.ass2 .parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  padding: 10px;
}

.ass2 .parent div {
  background-color: #f44336;
  padding: 10px;
  width: calc(95% / 3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================================================== */

.ass3 .parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  margin: 50px auto;
  padding: 10px;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ass3 .parent div {
  background-color: #607d8b;
  padding: 10px;
  width: calc(95% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ass3 .parent .one {
  order: 6;
  align-self: flex-end;
}

.ass3 .parent .two {
  order: 5;
}

.ass3 .parent .three {
  order: 2;
  align-self: flex-start;
}

.ass3 .parent .four {
  order: 3;
}

.ass3 .parent .five {
  order: 4;
}

.ass3 .parent .six {
  order: 1;
}

/* ======================================================== */

.ass4 .parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  color: #fff;
  padding: 10px;
  margin: 50px auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ass4 .parent div {
  background-color: #009688;
  flex-basis: calc(90% / 3);
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ass4 .parent .one,
.ass4 .parent .three {
  align-self: flex-end;
}

.ass4 .parent .two {
  width: 50%;
}

/* ======================================================== */

.ass5 .parent {
  background-color: #eee;
  width: 600px;
  height: 300px;
  padding: 10px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ass5 .parent div {
  width: calc(70% / 4);
  height: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ass5 .parent .one {
  order: 2;
  background-color: #ff9800;
}

.ass5 .parent .two {
  order: 3;
  background-color: #8bc34a;
}

.ass5 .parent .three {
  order: 4;
  background-color: #795548;
}

.ass5 .parent .four {
  order: 1;
  background-color: #673ab7;
}

.ass5 .parent .two,
.ass5 .parent .four {
  align-self: flex-end;
}

/* ======================================================== */

:root {
  --padding: 10px;
  --bgc: #ddd;
}

.ass6 .page {
  background-color: #eee;
  width: 100%;
  height: 400px;
  padding: var(--padding);
  display: flex;
  flex-direction: column;

  margin: 50px auto;
}

.ass6 .page .header {
  display: flex;
  flex-basis: 10%;
}

.ass6 .page .header .logo {
  background-color: var(--bgc);
  padding: var(--padding) calc(var(--padding) * 2);
}

.ass6 .page .header .links {
  list-style: none;
  display: flex;
  padding: var(--padding);
  background-color: var(--bgc);
  width: 100%;
  margin-left: var(--padding);
  justify-content: flex-end;
}

.ass6 .page .header .links li {
  padding: 0 var(--padding);
}

.main-area {
  margin-top: var(--padding);
  display: flex;
  flex-basis: 80%;
}

.main-area .content {
  background-color: var(--bgc);
  padding: var(--padding);
  width: 75%;
  margin-right: var(--padding);
}

.main-area .sidebar {
  background-color: var(--bgc);
  padding: var(--padding);
  width: 25%;
}

.footer {
  margin-top: var(--padding);
  background-color: var(--bgc);
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.footer .copyright,
.footer .design {
  padding: var(--padding);
}
