body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ======================================================== */

.ass1 .parent {
  background-color: #f2f2f4;
  width: 500px;
  height: 150px;
  padding: 20px;
  font-size: 20px;
  margin: 50px auto;
  position: relative;
  top: 25px;
  transition: top 0.5s ease-in;
  -webkit-transition: top 0.5s ease-in;
  -moz-transition: top 0.5s ease-in;
  -ms-transition: top 0.5s ease-in;
  -o-transition: top 0.5s ease-in;
  text-align: center;
}

.ass1 .child {
  padding: 20px;
  background-color: #dededc;
  position: absolute;
  right: 20%;
  top: 25%;
  transition: top 0.5s ease-in 0.5s;
  -webkit-transition: top 0.5s ease-in 0.5s;
  -moz-transition: top 0.5s ease-in 0.5s;
  -ms-transition: top 0.5s ease-in 0.5s;
  -o-transition: top 0.5s ease-in 0.5s;
}

.ass1 .parent:hover {
  top: 0;
}

.ass1 .parent:hover .child {
  top: 30%;
}

/* ======================================================== */

.ass2 {
  font-size: 0px !important;
  position: relative;
  text-align: center;
}

.ass2::before {
  content: "Elzero";
  font-size: 80px;
}

/* ======================================================== */

:root {
  --mainColor: #009688;
  --mainPadding: 10px;
}

.ass3 div {
  color: var(--mainColor, red);
  padding: var(--mainPadding, 10px);
  border: 2px solid var(--mainColor, black);
  margin: var(--mainPadding, 10px);
}
